@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}
ul,
li {
  list-style: none;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}
.timeBox{
  width:220px !important;
  padding:3px 5px;
}
.el-date-editor .el-range-separator {
  padding: 0 5px;
  width: 12%;
}
.el-button--mini, .el-button--mini.is-round {
  padding: 7px 8px;
}
.el-table td, .el-table th.is-leaf {
  text-align: center;
}
.bet-box .el-input.is-disabled .el-input__inner {
  background-color: #fff;
  border-color: #DCDFE6;
  color: #606266;
  width:260px;
}
.el-button.filter-item{
  float: right;
  margin-right: 6px;
  margin-bottom: 7px ;
}
.el-dialog__body {
  padding: 16px 20px;
}
.el-dialog__footer .el-button{
  padding:10px 20px;
}
.sattle-box .el-input {
  width: 400px;
}
//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
#app .sidebar-container .svg-icon{
  width:1.2rem;
  height:1.2rem;
}
@media screen and (min-width: 1420px){
  .el-button + .el-button{
    margin: 5px!important;
  }
  .el-button:nth-child(1){
    margin: 5px!important;
  }
}
@media screen and (max-width: 768px){
  .el-button + .el-button{
    margin-left: 0!important;
    margin-top: 5px;
  }
  .el-date-editor{
    width:100%!important;
  }
  .el-range-input{
    font-size: 12px!important;
    width: 100%!important;
  }


  .el-picker-panel{
    top: 0px!important;
    width: 80%!important;
    //overflow: scroll!important;
    //transform: scale(0.9);
  }
  .el-date-range-picker__content.is-left,.el-date-range-picker__content.is-right{
    border-right: none!important;
    width: 100%!important;
  }
  .el-picker-panel__body{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100% !important;
  }
  .el-date-range-picker__time-header{
    width: 100% !important;
    display: flex!important;
    flex-direction: column;
  }
  .centerForm{
    width:100%!important;
  }
}
.centerForm{
  width:60rem;
  margin:3rem auto;
}
.popover-member>.cell{
  height:30px!important;
  overflow: visible!important;
}
.nest-menu{
  height:50px;
}
.centerForm{
  width:60rem;
  margin:3rem auto;
}
.popover-member>.cell{
  height:30px!important;
  overflow: visible!important;
}
.nest-menu{
  height:50px;
}
.upload-loading, .avatar-uploader .el-upload {
  width: 178px;
  height: 178px;
  //border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.upload-loading{
  padding-top:60px;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 40px;
  color: #8c939d;
  line-height: 178px;
  text-align: center;
}
.avatar {
  height: 178px;
  width: 178px;
  display: block;
}
.uploadLoading p.el-loading-text{
  font-size:18px;
  color:#fff;
}
.uploadLoading i.el-icon-loading{
  font-size:80px;
  color:#fff;
}
.indexloadLoading p.el-loading-text{
  font-size:18px;
  color:rgba(255,255,255,.8);
}
.indexloadLoading i.el-icon-loading{
  font-size:50px;
  color:rgba(255,255,255,.8);
}
.ql-container>.ql-editor{
  min-height:300px!important;
}
.el-message-box__title{
  text-align: center;
  font-size:16px!important;
}
.filter-container{
  display: flex;
  justify-content: start;
  line-height: 50px;
  align-items: center;
  button{
    margin-top:10px;
    margin-left:10px;
  }
}
.el-pagination{
  margin-top: 20px;
  text-align: center;
}
.table-control-choose{
  position: relative;
}
.table-control-box{
  position: absolute;
  padding:10px 10px;
  top: 20px;
  left:-60px;;
  z-index: 999;
  border: 1px solid #b4bccc;
  background: #fff;
}
.table-control{
  display: flex;
  float: right;
  margin:10px;
}
.table-control li{
  margin: 10px;
}
.el-table td.table-align-left{
  text-align: left!important;
}
.icon-box{
  display: inline-block;
  padding:0 10px;
  line-height: 36px;
  border-radius: 4px;
  background: #304156;
}
.center{
  text-align: center;
}
